button {
    font-size: 20px;
    padding: 10px 20px;
    margin: 20px;
    background-color: tomato;
    color: white;
    border: 1px solid tomato;
    border-radius: 5px;
    border-bottom: 4px solid rgb(172, 59, 40);
    cursor: pointer;
}

button:hover {
    border: 1px solid rgb(172, 59, 40);
    background-color: rgb(172, 59, 40);
}

.outline {
    background-color: white;
    color: rgb(172, 59, 40);
    border: 1px solid rgb(172, 59, 40);
    border-bottom: 4px solid rgb(172, 59, 40);
}

.outline:hover {
    color: white;
}